<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.png" type="image/png" />

        <title>Countries of the World</title>

        <!-- jquery makes life easier -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- lodash for api call throttling -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>

        <!-- vue.js for state management -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <!-- our stuff -->
        <script src="frontend.js"></script>

        <!-- using bootstrap for its normalization and good typography defaults -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

        <!-- our stuff -->
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>

    <body>
        <!-- the actual content -->
        <div id="app">
            <h1 id="header">Countries of the World</h1>

            <div id="error" v-html="error"></div>

            <!-- the `v-bind`/`v-on` combo *should* be identical to
            `v-model="query"`, but the latter didn't work on mobile -->
            <input id="query" spellcheck="false" v-bind:value="query" v-on:input="query = $event.target.value" placeholder="Start typing to filter..."/>

            <div id="countries">
                <!-- clicking a country name marks it as the "selection" -->
                <div class="country" v-for="c in countries" v-on:click="selection = c"><img :src="c.flag" /> {{ c.name }}</div>
            </div>
        </div>


        <!-- background image -->
        <div id="bg"></div>

        <!-- cite our content sources -->
        <div id="attributions">
            <!-- the map background image came from wikimedia commons -->
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:World_map_(Miller_cylindrical_projection,_blank).svg">Background Image</a>
            by <a target="_blank" href="https://commons.wikimedia.org/wiki/User:Felipe_Menegaz">Felipe Menegaz</a>
            distributed under <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA-3.0</a><br />

            <!-- country data came from the geonames open api -->
            Country Data sourced from <a target="_blank" href="http://www.geonames.org/export/web-services.html#countryInfo">GeoNames</a>
            distributed under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
        </div>
    </body>
</html>
