<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" data-emoji="🌎" type="image/png" />
        <script src="emoji_favicon.js"></script>

        <title>Countries of the World</title>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            'use strict';

            // helper function for API calls
            const get = (url, data) => $.ajax({
                type: 'GET',
                url,
                data,
                dataType: 'json', // data type of API response
            });

            async function init() {
                window.app = new Vue({
                    el: '#app',

                    // define data up front so Vue knows about it
                    data: {
                        query: undefined,
                        countries: undefined,
                        selection: undefined,
                        details: undefined,
                    },

                    // dynamically update our data based on certain bound values
                    watch: {
                        // limit filter API call to once every 1/4 second
                        query: _.throttle(async function(q) {
                            this.countries = await get('/filter', { q });
                        }, 250),

                        selection: async function(s) {
                            this.details = await get(`/details/${s}`);
                        },
                    },
                });
            }

            $(init);
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <style>
            /* flex-ify our wrapper element */
            #app {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            /* flex-ify all direct children of wrapper */
            #app > * {
                flex: 0 0 auto;
            }

            .query {
                font-size: large;

            }
        </style>
    </head>

    <body>
        <div id="app">
            <h1>Countries of the World</h1>
            <h3>Start typing the name of a country below...</h3>

            <!-- the `v-bind`/`v-on` combo *should* be identical to
            `v-model="query"`, but the latter didn't work on mobile-->
            <input class="query" v-bind:value="query" v-on:input="query = $event.target.value" placeholder="Type to filter..."/>

            <!-- clicking a country name marks it as the "selection" -->
            <div class="country" v-for="c in countries" v-on:click="selection = c.code">{{ c.name }}</div>
        </div>
    </body>
</html>

<!-- plan

as they type into the query input, it will debounce (maybe every 500 ms?) and
query the api for results. those results will be updated on the vue object, and
the page will display the results (maybe up to 10 or so at a time).

-->
